rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      // write = [create, delete, update]
      // allow read, write;
      // allow read, create, delete, update;

      // if a user is logged in:
      allow create: if request.auth != null;

      // a user can read and delete a resource if their uid's match:
      allow read, delete, update: if request.auth.uid == resource.data.uid;
    }

    match /budget_2022_test/{document=**} {

    allow create: if request.auth != null;
    allow read, delete, update: if request.auth.uid == resource.data.uid;
    }
  }
}